<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="container text-center">
	<div class="col-md-10 col-md-offset-1">
		<form action="" style=" margin-left:2.5em; margin-top:80px"class="form form-horizontal" method="post" role="form" name="question">
			<div class="input-group">       
				{{form.hidden_tag()}}
				{{form.question(size=10, id='search-input', class_='form-control', placeholder='Eg: Are there any design projects near me?')}}
				<span class="input-group-btn">
					<button type="submit" id="search-button" style="position:relative; left:-3em" class=""><i style="font-size: 2em; color: #444444; cursor: pointer" class="fa fa-flip-horizontal fa-search"></i></button>
				</span>

			</div>
			<p>
				{% for error in form.errors.question %}
				<!-- <div class="alert alert-warning">[{{error}}]</div> -->
				{% endfor %}
				
			</p>
		</form>
	</div>
</div>
</div>


		
	

{% endblock content %}
{% block results %}


<div class="col-md-6 col-md-offset-2">
	<ul class="nav nav-pills">
		<li class="active hanging"><a href="#results" data-toggle="tab"><i class="fa fa-bars"></i> Analysis</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane in active" id="results">
				
dfasdfasdfasdf

		</div>

	</div>
	<!-- end tab content -->
</div>

{% endblock results %}

