<!-- extend base layout -->
{% extends "base.html" %}

{% block logo %}
<div class="row">
        <div class="logo-vertical-spacer"></div>
        <!-- start logo -->
        <div class="logo-container">
          <svg id="chart" width="100%" height="340" viewBox="0 0 340 340" perserveAspectRatio="xMinYMid" class="chart"></svg>
      </div>
      <div class="logo-text">
          O<div style="margin-left:-0.07em; display:inline">P</div><div style="margin-left:-0.07em; display:inline">E</div>N    IMP<div style="margin-left:-0.07em; display:inline">A</div><div style="margin-left:-0.07em; display:inline">C</div><div style="margin-left:-0.07em; display:inline">T</div>
          <!-- <span style="font-family: ALPHA-Regular; font-size: 1em; color:#577AE0 !important; margin-left:0.1em; text-shadow: none">a</span> -->
      </div>
      <!-- end logo -->
    </div>

{% endblock logo %}

{% block content %}

{% endblock content %}

